<!DOCTYPE html>
<html>
    <head>
        {include file="public/meta"}
    </head>
    <body>
        <div class="container">
            {include file="public/left"}
            <div class="right_content">
                {include file="public/top"}
                <div class="right_content_main">
                    <div class="welcome padding_20">
                        <h1>我是系统管理首页</h1>
                    </div>
                </div>
            </div>
        </div>
        {include file="public/foot"}
    </body>
</html>